<div>
<head> Cocktails </head>

<ul>
 <h1> <% @cocktails.each do |cocktail| %> </h1>
    <li><%= link_to cocktail[:name], cocktail_path(cocktail) %></li>
  <% end %>
</ul>
</div>

<img alt="Image result for cocktail image for html"" class="n3VNCb" src="https://www.seriouseats.com/recipes/images/2015/10/20150727-NuttyMartinez-Cocktail-Elana-Lepkowski.jpg" data-noaft="1" jsname="HiaYvf" jsaction="load:XAeZkd;" style="width: 400px; height: 300px; margin: 0px;">

