<h1>new doses!</h1>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%= f.button :submit %>
<% end %>

<img alt="Image result for cocktail image for html"" class="n3VNCb" src="https://www.seriouseats.com/recipes/images/2015/10/20150727-NuttyMartinez-Cocktail-Elana-Lepkowski.jpg" data-noaft="1" jsname="HiaYvf" jsaction="load:XAeZkd;" style="width: 400px; height: 300px; margin: 0px;">
